@import "./normalize";
@import "./_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "DM Sans", system-ui, sans-serif;

  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #e9e9e9;
  }

  ::-webkit-scrollbar-thumb {
    background: #bcc0be;
    border-radius: 4px;
    &:hover {
      background: rgb(148, 153, 150);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", system-ui, sans-serif;
  background-color: $bg-color;
  max-width: 100vw;
}

main {
  max-width: $width-desktop;
  min-height: 100vh;

  padding: $padding-desktop;
  margin: 0 auto;
}
