---
import Header from "../components/Header/Header.astro";
import Cards from "../components/Cards/Cards.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.scss";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <Cards />
  </main>
</Layout>
