@import "../../styles/variables";

.header {
  text-align: center;

  display: flex;
  flex-direction: column;

  gap: 24px;

  margin-bottom: 56px;

  & > h1 {
    font-size: 48px;
    font-weight: 700;

    margin: 0;
    color: $primary-color;
  }

  & > span {
    font-size: 18px;

    color: $primary-color;
  }
}
